@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --fnt-size-xxs: 0.625rem; /* 10px small text*/
  --fnt-size-xs: 0.75rem; /* 12px price text*/
  --fnt-size-s: 0.875rem; /* 14px label*/
  --fnt-size-m: 1rem; /* 16px body*/
  --fnt-size-l: 2rem; /* 32px heading*/

  --clr-text-light: #fef7ee;
  --clr-text-dark: #111315;
  --clr-text-grey: #6f757c;
  --clr-primary-dark: #1b1d1f;
  --clr-accent-green: #bee3cc;
  --clr-accent-yellow: #f6c768;
  --clr-accent-orange: #ed735d;

  --width-desktop: 1280px;
  --width-tablet: 1024px;
  --width-mobile: 640px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: var(--fnt-size-m);
  color: var(--clr-text-light);
  background-color: var(--clr-text-dark);
}

.root {
  width: 100%;
  min-height: 100vh;
  display: grid;
}

.root__image {
  width: 100%;
  height: 40%;
  object-fit: cover;
  object-position: center;
}

.root__content {
  position: absolute;
  top: 20%;
  max-width: 80%;
  padding: 4rem;
  place-self: center;
  display: grid;
  row-gap: 1rem;
  place-items: center;
  border-radius: 12px;
  text-align: center;
  background-color: var(--clr-primary-dark);
  background-image: url("assets/vector.svg");
  background-repeat: no-repeat;
  background-position: 710px 170px;
  background-attachment: fixed;
  background-size: 22%;
}

.root__content__tittle {
  font-size: var(--fnt-size-l);
  font-weight: 700;
}

.root__content__description {
  color: var(--clr-text-grey);
  max-width: 60%;
}

.root__content__buttons {
  display: flex;
  column-gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: var(--fnt-size-s);
  font-weight: 700;
  color: var(--clr-text-light);
  border: none;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover,
button:focus {
  background: var(--clr-text-grey);
}

.root__content__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
