@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "../component/card.css";

:root {
  --fnt-size-xxs: 0.625rem; /* 10px small text*/
  --fnt-size-xs: 0.75rem; /* 12px price text*/
  --fnt-size-s: 0.875rem; /* 14px label*/
  --fnt-size-m: 1rem; /* 16px body*/
  --fnt-size-l: 2rem; /* 32px heading*/

  --clr-text-light: #fef7ee;
  --clr-text-dark: #111315;
  --clr-text-grey: #6f757c;
  --clr-primary-dark: #1b1d1f;
  --clr-accent-green: #bee3cc;
  --clr-accent-yellow: #f6c768;
  --clr-accent-orange: #ed735d;

  --width-desktop: 1280px;
  --width-tablet: 1024px;
  --width-mobile: 640px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: var(--fnt-size-m);
  color: var(--clr-text-light);
  background-color: var(--clr-text-dark);
}

.root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  padding: 5rem 0;
  background-image: url("../assets/bg-cafe-min.jpg");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: top center;
  background-attachment: fixed;
}

.content {
  width: 80%;
  padding: 0 3rem 3rem;
  display: grid;
  row-gap: 1rem;
  place-self: center;
  place-items: center;
  border-radius: 12px;
  text-align: center;
  background: var(--clr-primary-dark);
}

.content__intro {
  background-image: url("../assets/vector.svg");
  background-size: 50%;
  background-position: right center;
  background-repeat: no-repeat;
  text-align: center;
  width: 60%;
}

.content__tittle {
  font-size: var(--fnt-size-l);
  font-weight: 700;
  margin: 4rem 0 1rem;
}

.content__description {
  color: var(--clr-text-grey);
  align-self: center;
  margin-bottom: 1rem;
}

.content__buttons {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: var(--fnt-size-s);
  font-weight: 700;
  color: var(--clr-text-light);
  border: none;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
  transition: scale 0.3s ease;
}

#all__products {
  background: var(--clr-text-grey);
}

button:hover {
  scale: 1.05;
}

.content__cards {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100px;
  column-gap: 2rem;
  row-gap: 4rem;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .root {
    background-size: 100% 20%;
  }

  body {
    font-size: var(--fnt-size-s);
  }

  .content {
    padding: 0 2rem 2rem;
  }

  .content__intro {
    width: 75%;
  }

  button {
    font-size: var(--fnt-size-xs) !important;
  }

  .content__cards {
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 640px) {
  body {
    font-size: var(--fnt-size-xs);
  }

  .root {
    background-size: 100% 25%;
  }

  .content__intro {
    width: 100%;
  }

  .content__tittle {
    font-size: 1.5rem;
  }
  .content__buttons {
    column-gap: 0.5rem;
  }

  button {
    font-size: var(--fnt-size-xxs) !important;
  }

  .content__cards {
    row-gap: 2rem;
  }
}
